#
# Copyright SecureKey Technologies Inc. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#

export ARCH=amd64

# Sandbox
export ISSUER_IMAGE=ghcr.io/trustbloc/sandbox-issuer
export RP_IMAGE=ghcr.io/trustbloc/sandbox-rp
export ACE_RP_IMAGE=ghcr.io/trustbloc/sandbox-ace-rp
export CONSENT_LOGIN_SERVER_IMAGE=ghcr.io/trustbloc/sandbox-login-consent-server

# Edge agent
export USER_AGENT_IMAGE=ghcr.io/trustbloc/wallet-web
export USER_AGENT_IMAGE_TAG=0.1.6
export USER_AGENT_SUPPORT_IMAGE=ghcr.io/trustbloc/wallet-server
export USER_AGENT_SUPPORT_IMAGE_TAG=0.1.6
export WALLET_ROUTER_URL=https://router.trustbloc.local:9084
export SUPPORT_BLINDED_ROUTING=true

# Edge service
export VCS_IMAGE=ghcr.io/trustbloc/vc-server
export VCS_IMAGE_TAG=0.1.6

# DID rest
export DID_IMAGE=ghcr.io/trustbloc/did-resolver
export DID_IMAGE_TAG=0.1.6

# EDV
export EDV_IMAGE=ghcr.io/trustbloc/edv
export EDV_IMAGE_TAG=0.1.6

# KMS
export KMS_IMAGE=ghcr.io/trustbloc/kms
export KMS_IMAGE_TAG=0.1.6

# Sidetree mock
export SIDETREE_MOCK_IMAGE=ghcr.io/trustbloc/sidetree-mock
export SIDETREE_MOCK_IMAGE_TAG=0.6.0

export FABRIC_NS=hyperledger

# baseos
export FABRIC_BASEOS_FIXTURE_IMAGE=hyperledger/fabric-baseos
export FABRIC_BASEOS_FIXTURE_TAG=2.2.1

# couchdb
export COUCHDB_FIXTURE_IMAGE=couchdb
export COUCHDB_FIXTURE_TAG=3.1
export COUCHDB_USERNAME=cdbadmin
export COUCHDB_PASSWORD=secret

# orderer
export FABRIC_ORDERER_FIXTURE_IMAGE=hyperledger/fabric-orderer
export FABRIC_ORDERER_FIXTURE_TAG=2.2.1

# fabric peer
export FABRIC_PEER_FIXTURE_IMAGE=ghcr.io/trustbloc/sidetree-fabric
export FABRIC_PEER_FIXTURE_TAG=0.6.0

# fabric cc env
export FABRIC_BUILDER_FIXTURE_IMAGE=fabric-ccenv
export FABRIC_BUILDER_FIXTURE_TAG=2.2.1

# TrustBloc DID Method
export BLOC_DID_METHOD_IMAGE=ghcr.io/trustbloc/driver-did-trustbloc
export BLOC_DID_METHOD_IMAGE_TAG=0.1.6
export BLOC_DOMAIN=testnet.trustbloc.local

# universal resolver driver for did:sov
export UNIRESOLVER_DRIVER_DID_SOV_LIBINDYPATH=
export UNIRESOLVER_DRIVER_DID_SOV_POOLVERSIONS=_;2;staging;2;builder;2;danube;2
export UNIRESOLVER_DRIVER_DID_SOV_WALLETNAME=default

export HTTP_RESOLVER=trustbloc@https://did-resolver.trustbloc.local/1.0/identifiers,v1@https://did-resolver.trustbloc.local/1.0/identifiers,elem@https://did-resolver.trustbloc.local/1.0/identifiers,sov@https://did-resolver.trustbloc.local/1.0/identifiers,web@https://did-resolver.trustbloc.local/1.0/identifiers

# ------------------- DIDComm -------------------
# Aries Router configurations
export HUB_ROUTER_IMAGE=ghcr.io/trustbloc/hub-router
export HUB_ROUTER_IMAGE_TAG=0.1.6
export DIDCOMM_ROUTER_HOST=0.0.0.0
export DIDCOMM_ROUTER_HTTP_INBOUND_PORT=9081
export DIDCOMM_ROUTER_WS_INBOUND_PORT=9082
export DIDCOMM_ROUTER_API_PORT=9084

# Issuer adapter
export ISSUER_ADAPTER_REST_IMAGE=ghcr.io/trustbloc/issuer-adapter
export ISSUER_ADAPTER_REST_IMAGE_TAG=0.1.6
export ISSUER_ADAPTER_HOST=0.0.0.0
export ISSUER_ADAPTER_PORT=10061
export ISSUER_ADAPTER_DIDCOMM_PORT=10062

# RP Adapter
export RP_ADAPTER_REST_IMAGE=ghcr.io/trustbloc/rp-adapter
export RP_ADAPTER_REST_IMAGE_TAG=0.1.6
export RP_ADAPTER_HOST=0.0.0.0
export RP_ADAPTER_PORT=10161
export RP_ADAPTER_DIDCOMM_PORT=10162
export RPADAPTER_HYDRA_PUBLIC_PORT=7777
export RPADAPTER_HYDRA_ADMIN_PORT=7778

# Transport Schemes
export HTTP_SCHEME=http
export WS_SCHEME=ws

# Hydra
export HYDRA_ADMIN_URL=https://hydra.trustbloc.local:4445

# HUB-AUTH
export AUTH_REST_IMAGE=ghcr.io/trustbloc/hub-auth
export AUTH_REST_IMAGE_TAG=0.1.6

# HYDRA (general)
export HYDRA_IMAGE_TAG=v1.3.2-alpine

# Vault Server
export VAULT_SERVER_IMAGE=ghcr.io/trustbloc/vault-server
export VAULT_SERVER_IMAGE_TAG=0.1.6

# Comparator
export COMPARATOR_REST_IMAGE=ghcr.io/trustbloc/comparator-server
export COMPARATOR_REST_IMAGE_TAG=0.1.6

# CSH
export CSH_IMAGE=ghcr.io/trustbloc/hub-confidential-storage
export CSH_IMAGE_TAG=0.1.6

export MYSQL_ROOT_PASSWORD=my-secret-pw
export MYSQL_DATABASE=mydb
export MYSQL_USER=myuser
export MYSQL_PASSWORD=myuserpw
export KEYCLOAK_USER=admin
export KEYCLOAK_PASSWORD=admin
export KEYCLOAK_CLIENT_ID=piddf
export KEYCLOAK_CLIENT_SECRET="<add_client_secret_here>"
export KEYCLOAK_REALM_ID=labgen
export DB_VENDOR=mysql
export KEYCLOAK_DATABASE=keycloak
export PMA_ABSOLUTE_URI="http://localhost/phpmyadmin/"


export OPENBAO_DEV_ROOT_TOKEN_ID="<add_open_bao_root_token_here>"
export OPENBAO_DEV_LISTEN_ADDRESS="0.0.0.0:8200"
export OPENBAO_DEV_LISTEN_PORT="8200"