fabric/fabric-samples/
**/.idea
.idea
**.venv
PIDDF-VCS/.env
PIDDF-VCS/.idea
PIDDF-VCS/**/.venv
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
*.log
.DS_Store
*.swp
*.swo

.env
fabric/fabric-samples

orb/
vcs/
sidetree-fabric/

**/update_privatekey.pem
