FLASK_APP_HOST=0.0.0.0
FLASK_APP_PORT=5521
FLASK_APP_NAME=piddf_vcs
FLASK_APP_DEBUG=True
FLASK_APP_ENV=development
FLASK_APP_SECRET_KEY=your_secret_key
FLASK_APP_DATABASE_URI=sqlite:///db.sqlite3
KEYCLOAK_SERVER_URL=http://localhost:7080/auth
OIDC_OP_AUTHORIZATION_ENDPOINT=http://localhost:7080/auth/realms/labgen/protocol/openid-connect/auth
OIDC_OP_ENDSESSION_ENDPOINT=http://localhost:7080/auth/realms/labgen/protocol/openid-connect/logout
OIDC_OP_JWKS_ENDPOINT=http://localhost:7080/auth/realms/labgen/protocol/openid-connect/certs
OIDC_OP_LOGOUT_ENDPOINT=http://localhost:7080/auth/realms/labgen/protocol/openid-connect/logout
OIDC_OP_LOGOUT_URL_METHOD=oidc_logout
OIDC_OP_TOKEN_ENDPOINT=http://localhost:7080/auth/realms/labgen/protocol/openid-connect/token
OIDC_OP_USER_ENDPOINT=http://localhost:7080/auth/realms/labgen/protocol/openid-connect/userinfo
OIDC_RP_CLIENT_ID=piddf
OIDC_RP_REALM_ID=labgen
OIDC_RP_CLIENT_SECRET="<add_client_secret_here>"
OIDC_RP_SIGN_ALGO=RS256
KEYCLOAK_USERNAME=admin
KEYCLOAK_USER_PASSWORD=admin
OPENBAO_DEV_ROOT_TOKEN_ID="<add_open_bao_root_token_here>"
OPENBAO_DEV_LISTEN_ADDRESS="localhost:8200"
ISSUER_DID="did:orb:uAAA:<add_issuer_did_here>"
KEYCLOAK_ISSUER="http://localhost:7080/auth/realms/labgen"
OPEN_BAO_ADDRESS="http://localhost:8200"
OPEN_BAO_ROOT_TOKEN="<add_open_bao_root_token_here>"
OPEN_BAO_OIDC_ISSUER="http://keycloak:7080/auth/realms/labgen"
ORB_URL="http://localhost:48326"